{% extends "base.html.twig" %}

{% block body %}

	<header>

		<!---BARRE DE NAV-->

		<div
			class="container">

			<!--COUPE + BTN CHALLENGE-->

			<div class="row pt-3 pb-5 justify-content-center text-center">

				<div class="col-4 align-self-center">
					<a href="#">
						<img class="coupechallenges" src="{{ asset('images/iconcoupechallenge.png') }}">
					</a>
					<div class="btnChallenge">
						<a class="btn btn-warning text-light d-sm-none d-lg-inline" href="#">Challenges</a>
					</div>
				</div>

				<!--COUPE + BTN CHALLENGE-->

				<!--LOGO PLAYMAP-->

				<div class="col-4">
					<a href="{{ path('home') }}"><img class="logoplaymap" src="{{ asset('images/logoplaymap2.png') }}"></a>
				</div>

				<!--LOGO PLAYMAP-->

				<!--NAV BURGER INSCRIPTION CONNEXION-->

				<div class="col-4">
					<nav class="navbar navbar-expand-lg navbar-dark ">
						<button class="navbar-toggler border-light" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon "></span>
						</button>
						<div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
							{# RPR -- navbar de droite #}
              <div class="navbar-nav">

                {% if app.user %}

                  <div class="d-flex align-items-center">
                    <a id="btnModal" class="nav-link active text-light btn-nav" href="" style="font-size: .8rem;">Mon Compte</a>
                    <img id="btnModalAvat" src="{{ asset('images/old-man.png') }}" alt="" style="width: 38px; height: 38px; margin-left: -20px;">
                  </div>

                  <a class="nav-link active text-light btn-nav" href="{{ path('security_logout') }}" style="font-size: .8rem;">Deconnexion</a>

                  
                {% else %}
                  <a class="nav-link active text-light btn-nav" href="{{ path('inscription') }}" style="font-size: .8rem;">Inscription</a>
                  <a class="nav-link active text-light btn-nav" href="{{ path('security_login') }}" style="font-size: .8rem;">Connexion</a>

                {% endif %}

							
              </div>
						</div>
					</nav>
				</div>

			</div>
		</div>

		<!--NAV BURGER INSCRIPTION CONNEXION-->

		<!--BARRE DE NAV-->

	</header>


	{% block content %}
		{# c'est ici que viendra s'insérer le contenu propre à chaque page #}


	{% endblock %}


	<footer>

		<!--FOOTER-->

		<div class="container">

			<div class="row p-3">

				<div class="col-3 ">
					<div class="Fcontact">
						<p>Contact Siège</p>
						<p>6 Rue Chaudron</p><br>
						<p>75010 PARIS</p><br>
						<p>playmap@gmail.com</p>
						<p>Tel : 0123456789</p>
					</div>
				</div>

				<div class="col-6">
					<div class="row justify-content-center mb-5 mt-3">
						<div class="imgR">

							<img src="{{ asset('images/InstagramIcon.png') }}">
							<img src="{{ asset('images/FacebookIcon.png') }}">
							<img src="{{ asset('images/TwitterIcon.png') }}">

						</div>
					</div>

					<div class="row">

						<div class="col-3 text-center mt-4">
							<p>Mentions légales</p>
						</div>

						<div class="col-3 text-center mt-4">
							<p>Blog</p>
						</div>

						<div class="col-3 text-center mt-4">
							<p>Cookies</p>
						</div>

						<div class="col-3 text-center mt-4">
							<p>Contactez-nous</p>
						</div>

					</div>
				</div>

				<div class="col-3 align-self-center">
					<div class="form-group">
						<label for="formGroupExampleInput2">Suivez notre actualité</label>
						<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Adresse mail">
					</div>
				</form>
			</div>

		</div>

	</div>

	<!--FOOTER-->

</footer>


{% endblock %}
